input {
    background-color: #FFF;
    width: 70%;
    height: 35px;
    font-size: 1.2rem;
    font-family: 'Audiowide', cursive;
    padding: 0 5px;
    border: 2px solid black;
    border-radius: 7px;
    margin-bottom: 10px;
}

input:focus {
    outline: none 
}

@media (max-width: 500px) {
    input{
        height: 30px;
        font-size: 1rem;
    }
} 