body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F4EEFF;
    background-image: url('https://static.vecteezy.com/system/resources/previews/023/353/689/original/business-people-characters-working-in-the-office-minimal-co-working-space-group-of-working-office-employees-free-png.png');
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 62.5%;
    font-family: 'Audiowide', cursive;
    display: flex;
    justify-content: flex-end;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    max-width: 550px;
    height: 90vh;
    margin-top: 30px;
    margin-right: 200px;
    border: 5px solid #A6B1E1;
    border-radius: 20px;
    background-color: #DCD6F7;
    color: #424874;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .main {
        margin-right: 100px;
    }
}

@media (max-width: 930px) {
    body{
        justify-content: center;
        background-position: center;
    }

    .main {
        width: 80%;
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .main {
        width: 95%;
        height: 95vh;
    }
} 