button {
    position: absolute;
    margin-top: -47px;
    margin-left: calc(100vw - 43px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: lightseagreen;
    color: white;
    border: none;
    box-shadow: -1px -1px 7px 5px rgba(21,106,117,0.75);
    -webkit-box-shadow: -1px -1px 7px 5px rgba(21,106,117,0.75);
    -moz-box-shadow: -1px -1px 7px 5px rgba(21,106,117,0.75);

    transform: rotate(0);
    transition: .3s ease;
}

button:hover {
    transform: rotate(224deg)
}
