h1 {
    box-sizing: border-box;
    margin-top: 0;
    width: 100%;
    padding: 10px ;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Patrick Hand', cursive;
    background-color: #AAC8A7;
}

h1 span {
    font-weight: 700;
}