input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80%;
    height: 24px;
    border-radius: 14px;
    text-align: center;
    font-size: 18px;
    font-family: 'Patrick Hand', cursive;
    border: 2px #AAC8A7 solid
}